/.vs
/AngularUWP/bin
/AngularUWP/bld
/AngularUWP/node_modules
/AngularUWP/dist
/AngularUWP.RuntimeComponent/obj
/AngularUWP.RuntimeComponent/bin

/AngularUWP.RuntimeComponent/bin

#build
/AngularUWP/BundleArtifacts
/AngularUWP/AppPackages/