/.vs
/AngularUWP/bin
/AngularUWP/bld
/AngularUWP/node_modules
/AngularUWP/dist
/AngularUWP.Managed/obj
/AngularUWP.RuntimeComponent/obj
/AngularUWP.RuntimeComponent/bin/x64/Debug
/AngularUWP/BundleArtifacts
/AngularUWP/AppPackages/AngularUWP_0.0.0.0_Test
/AngularUWP.RuntimeComponent/bin
